$govuk-assets-path: "~govuk-frontend/dist/govuk/assets/";
@import "~govuk-frontend/dist/govuk/all";

.govuk-divider {
  border-bottom: 5px solid #1d70b8;
  margin-bottom: 10px;
}

.govuk-box {
  background-color: govuk-colour("light-grey");
  padding: 20px;
}
