 {# Backstage scaffolder to render the file as is and to skip this content to interpret as template #}
{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
  <!--[if !IE 8]><!-->
  <% htmlWebpackPlugin.files.css.forEach(file => { %>
  <link href="<%= file.replace('../dist/', '/static/') %>" rel="stylesheet">
  <% }) %>
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="{{ govukAssetPath }}/govuk-frontend/govuk/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: "/"
    }) }}
    <div class="govuk-grid-row govuk-width-container">
      {{ govukPhaseBanner({
        tag: {
          text: "alpha"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}
    </div>
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {% if auth.isAuthenticated %}
    <div class="gov-grid-row">
      <div style="float:right;clear:both;text-align:right;">
        <p class="govuk-body govuk-!-margin-bottom-0">Signed in as <a href="/home" class="govuk-link">{{ auth.credentials.name }}</a></p>
        <p class="govuk-body"><a href="/auth/sign-out" class="govuk-link">Sign out</a></p>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
<% htmlWebpackPlugin.files.js.forEach(file => { %>
  <script src="<%= file.replace('../dist/', '/static/') %>"></script>
<% }) %>
{% endblock %}
